.nav-icon {
    margin-bottom: 10px
}

.nav-icon {

}

.navbar-brand span {
    font-size: 49px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dawailo-logo {
    width: 113px;
}

.logo-container {
    padding-left: 0px !important
}

.link-btn {
    padding: 24px 3px;
}

.home-slider {
    position: relative;
}

.carousel-inner {
    background-image: url(../img/slide_bg.png);
    min-height: 340px;
}

.carousel-control {
    width: 5%;
}

.carousel-inner img {
    margin: 0 auto;
}

.saerch-product {}

.saerch-product {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: flex-end;
    top: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.search-box {
    flex: 1;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.18);
    margin-right: 10px;
}

.search-box input {
    height: 36px;
    border-radius: 4px;
}

.saerch-product-inner {
    display: flex;
    background-color: rgba(12, 12, 12, 0.58);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    flex-wrap: wrap;
}

.section-title {
    position: relative;
    padding-bottom: 50px;
}

.section-title h3 {
    color: #333333;
    font-size: 28px;
    font-weight: 400;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 20%;
    margin: 0 auto;
    height: 1px;
    background-color: #466cb4;
    left: 0px;
    right: 0px;
    bottom: 34px;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #466cb4;
    transform: rotate(45deg);
    bottom: 29px;
    background-color: #f0f0f0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-block {
    padding: 15px;
    text-align: center;
    flex: 1
}

.product-img img {
    max-width: 120px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 4px solid #ffb610;
    transition: all 300ms ease-in-out;
}

.product-block a {
    color: #141d2d;
    font-size: 14px;
    font-weight: 500;
}

.product-block:hover {
    opacity: .8
}

.product-block:hover img {
    transform: scale(1.1);
}

.carousel-control {
    width: 5%;
    z-index: 100;
}

.section-padder {
    padding-left: 35px;
    padding-right: 35px
}

.bg-white {
    background-color: white
}

.main-content section {
    padding: 50px 0px;
}

.product-slider .item {
    border: 4px solid #e0e3e8;
}

.product-slider .item img {
    display: block;
}

.product-slider {
    margin-top: 30px
}

.testimonial-content {
    max-width: 500px;
    margin: 0 auto;
}

.testimonial-content blockquote {
    background-color: rgba(23, 23, 23, 0.43);
    padding: 32px;
    border-radius: 9px;
    position: relative;
    border: 1px solid #353535;
    font-size: 14px;
    color: #cecece;
    text-align: center;
}

.testimonial-content blockquote i {
    position: absolute;
    left: -5px;
    top: -21px;
    font-size: 48px;
    color: #ffb610;
}

.testimonial-carousel .owl-stage-outer {
    padding-top: 25px;
}

.testimonial-content .source {
    color: #ffb610;
    font-size: 13px;
    margin-left: 10px;
}

.testimonial-bg {
    background-image: url(../img/Testimonial-grey.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white
}

.testimonial-bg .section-title h3 {
    color: #ffffff;
}

.testimonial-bg .section-title h3::before {
    content: "";
    position: absolute;
    width: 20%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.66);
    left: 0px;
    right: 0px;
    bottom: 34px;
}

.testimonial-bg .section-title::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.66);
    transform: rotate(45deg);
    bottom: 29px;
    background-color: rgb(36, 36, 36);
}

.footer-list {
    list-style-type: none;
    padding: 0px;
}

.footer-list li {
    margin-bottom: 9px;
}

.footer h4 {
    margin-bottom: 18px;
    font-weight: 600;
    color: #383838;
}

.info-img {
    border: 4px solid #ffb610;
}

.category_box {
    padding: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid gainsboro;
    background-color: white;
}

.category_box h4 {
    text-align: left;
    font-size: 14px;
    color: #565656;
    margin: 0px;
    padding: 10px;
    font-weight: 600;
}
.filter-title {
    padding: 10px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid gainsboro;
    color: #141d2d;
    font-weight: 400;
}
.flex-row{
  margin-left: -8px;
  margin-right: -8px;

}
.inline-view{
  display: inline-block;

}

.category_box ul {
    padding: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}

.category_box ul li {}

  .category_box ul li a {
      display: block;
      padding: 8px 13px;

  }

  .category_box ul li.active a {
      display: block;
      padding: 8px 13px;
      background-color: rgb(255, 182, 16);
      color: #3c3c3c;
      font-weight: 600;
  }

.category_box ul li:last-child a {
    border-bottom: 0px;
}

.price-input {
    max-width: 60px;
}

.price-range {
    padding: 10px;
}

.checkbox-list li {
    padding: 8px 10px;

}

.checkbox-list li .checkbox {
    margin: 0px
}

.checkbox-list li label {
    font-size: 12px
}

.breadcrumb {
    margin-bottom: 0px
}

.prdct_details {
    border: 1px solid rgb(220, 227, 241);
    padding: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 0px #e0e0e0;
}
.prdct_details:hover{
  box-shadow: none

}
.sku-actual, .sku-mrp {
    color: #141d2d;
    text-decoration: line-through;
    font-weight: 600;
    font-size: 11px;
}
.prdct_title {
    margin: 10px 0px;
    font-size: 13px;
}

.prdct_price {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 14px;
    color: #141d2d;
    background-color: #ffb610;
    border-radius: 0px;
    padding: 3px 0px;
    position: absolute;
    left: -2px;
}
.prdct_price::after {
    content: "";
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-bottom-color: #b37c00;
    position: absolute;
    left: 3px;
    transform: rotate(45deg);
    top: 18px;
}

.product_box {
    padding-left: 8px;
    padding-right: 8px;
}

.filter-box {
    min-width: 260px;
    margin-right: 20px;
}

.product_box {
    width: 25%
}

.product_box {
    width: 25%;
    position: relative;
}

.page-title h3 {
    margin-top: 0px;
    margin-left: 0px;
    border-bottom: 2px solid rgb(220, 227, 241);
    padding-bottom: 8px;
    margin-bottom: 19px;
    color: #466cb4;
    font-size: 23px;
}

.table>thead>tr>th {
    background-color: #466cb4 !important;
    font-weight: 600;
    color: white
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid rgba(70, 108, 180, 0.2);
}

.item-photo img {
    width: 100%;
    border: 3px solid rgba(70, 108, 180, 0.18);
}

.product-detail .section {
    width: 100%;
    margin-bottom: 20px;
}

.add-cart-box {
    padding: 14px;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px
}

.deatil-title {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 10px;
    font-weight: 700;
    color: #252525;
}
.product-name {
    margin-top: 4px;
    font-weight: 400;
    color: #141d2d;
}
.title-small {
    margin-top: 15px;
    margin-bottom: 0;
    color: black;
}
.title-small small {
    color: #466cb4;
}
.title-attr {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}

.btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}

div.section>div {
    width: 100%;
    display: inline-flex;
}

div.section>div>input {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 18%;
    text-align: center;
}

.attr, .attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}

.attr.active, .attr2.active {
    border: 1px solid orange;
}
.btn-add-cart {
    background-color: rgb(255, 248, 232);
    color: #141d2d;
    font-weight: 600;
    border: 1px solid rgba(255, 182, 16, 0.27);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
.btn-add-cart i {
    margin-left: 9px;
    font-size: 11px;
    padding: 8px 14px;
    font-size: 16px;
    border-left: 1px solid #ffe6ad;
}
.btn-add-cart:hover
{
  background-color: #ffb610;
    color: #fff;
}
.prdct_title, .prdct_price
{
  padding-left: 10px;
  padding-right: 10px;
}
.cart-list {


}
.cart-list-item {
    border-bottom: 1px solid #dce3f1;
    padding-bottom: 12px;
    /* margin-bottom: 12px; */
    border: 1px solid #dce3f1;
    padding: 15px;
    background-color: #fbfbfb;
}

.cart-item-name, .cart-item-price {
    font-weight: 600;
    color: #3a3a3a;
    margin-bottom: 4px;
}
.otc-save {
    font-weight: 700;
    display: inline;
    color: #1aab2a;
    font-size: 12px;
}
.otc-actual {
    display: inline;
    text-decoration: line-through;
    font-size: 12px;
}
.cart-quantity{
  max-width: 100px

}
.cart-quantity .btn {
    width: 25px;
    height: 25px !important;
    border-radius: 50% !important;
    text-align: center;
    padding: 0px !important;
    font-size: 10px !important;
    display: flex;
    justify-content: center;
}
.cart-quantity input {
    margin: 0px 6px;
    padding: 2px;
}
.grand-total {
    background-color: rgba(255, 182, 16, 0.26);
    color: #141d2d;
}
.table-bordered>tbody>tr>th {
    background-color: rgba(70, 108, 180, 0.08);
}
.table {

    background-color: white;
}
.search-bar input {
    border: 1px solid rgba(70, 108, 180, 0.47);
    border-radius: 3px;
    font-size: 12px;
    width: 326px;
    box-shadow: 0px 0px 0px 3px rgba(70, 108, 180, 0.23);
}
.search-bar input:focus {
    box-shadow: none;
    border-color: rgba(255, 182, 16, 0.74);
    box-shadow: 0px 0px 0px 3px rgba(255, 182, 16, 0.39);
}
.steps-img img {
    max-width: 100px;
    vertical-align: middle;
    border: 0;
    border-radius: 50%;
    background-color: rgba(21, 21, 21, 0.03);
    padding: 13px;
    border: 1px solid rgba(117, 117, 117, 0.03);
}
.circle-wrap>div {
    display: table-cell;
    vertical-align: middle;
}
.steps-text {
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    color: #141d2d;
}
.how-section
{
  background-image: url(../img/how_bg.png);
  background-size: cover;
}
.checkout-box .table {
    margin-top: 33px;
    margin-bottom: 0px;
}
.grand-total strong {
    margin-right: 20px;
    font-size: 13px;
    font-weight: 600;
}
.grand-total span {
    color: #466cb4;
    font-weight: 600;
    font-size: 15px;
}
.checkout-box .table>tbody>tr>td
{
  padding: 9px 10px;
  border-top: 1px solid #f7f7f7;
}
.checkout-box td label {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 600;
}
.cart-stepper {
    display: flex;
}
.cart-stepper .step {
    flex: 1;
    font-size: 13px;
    border: 1px solid #d0d0d0;
    margin-right: 7px;
    color: #a0a0a0;
    font-weight: 500;
    margin-bottom: 17px;
    border-radius: 20px;
    background-color: rgba(101, 124, 165, 0.12);
    padding: 7px 18px;
    text-align: center;
}

.cart-stepper .step.active {
    border-color: #d69707;
    color: #141d2d;
    background-color: #ffb610;
    font-weight: 600;
}
.prdct_image
{
  position: relative;
}
.prdct_wish {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: none;
}
.prdct_details:hover .prdct_wish
{
  display: block;
}
.cart-btn {
    font-size: 28px !important;
    vertical-align: middle;
    color: rgba(85, 85, 85, .8) !important;
    position: relative;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.cart-counter {
    font-size: 9px;
    width: 16px;
    height: 16px;
    background-color: #ec2900;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 23px;
    right: 5px;
}
.nav-cart-box {
    min-width: 260px;
}
.nav-cart
{
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
}
.nav-cart .media {
    margin-top: 10px;
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
}
.nav-cart  .media:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0px;
}
.nav-cart .subtotal-cart {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid rgba(255, 182, 16, 0.29);
    background-color: rgba(255, 182, 16, 0.19);
    color: #0a0d13;
    font-weight: 600;
}
.view-cart-btn .btn {
    margin: 0px 3px;
}
.upload-prescription-box
{
  max-width: 800px;
  margin: 0 auto;
}
.panel-heading {
    padding: 15px 15px 15px;

}
.panel-body {
    padding: 15px 20px 20px;
    border: 1px solid rgba(70, 108, 180, 0.41);
}
.medecine-bg
{
  background-image: url(../img/medi-bg.jpg);
}
.upload-prescription-box .panel-heading {
    position: relative;
    padding-left: 69px;
}
.upload-prescription-box .panel-heading .uploadfile-icon {
    position: absolute;
    text-align: center;
    left: 15px;
    top: 8px;
}
.upload-prescription-box .panel-heading .uploadfile-icon img
{
      width: 37px;
}
.bg-img
{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #eaedf4;
    background-image: url(../img/medi-bg.jpg);
    background-attachment: fixed;
}
.login-main .form-block {
    padding: 30px 30px;
    border: 1px solid #ffd370;
    border-radius: 4px;
    background-color: rgba(255, 251, 240, 0.26);
    box-shadow: 0px 0px 0px 6px rgba(255, 219, 136, 0.43);
    position: relative;
}
.form-block .form-header{
  position: absolute;
  top: -22px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.form-block .form-header h4 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #263b63;
    display: inline-block;
    background-color: #ffefcc;
    padding: 7px 30px;
    border-radius: 20px;

    border: 1px solid #ffd370;
}
.login-main .form-block .form-control {
    height: 47px;
    border: 2px solid #ffdb88;
}
.login-main .form-block .btn {
    height: 47px;
}
.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.copyright-block
{
  margin-top: 30px
}
.login-main .logo {
    margin-bottom: 36px;
}
.error-block ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
}
.error-block ul li {
    background-color: rgba(255, 92, 58, 0.69);
    color: #ffffff;
    padding: 4px;
    font-size: 12px;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #e85030;
    display: none;
}
.doctor-view
{
  flex: 1
}
.doctor-block {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 4px #d8d8d8;
    margin-bottom: 15px;
}
.doc-img {
    width: 95px;
    padding: 5px;
    border: 1px solid #efefef;
    background-color: white;
}
.doc-name {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.doc-specialties a {
    background-color: rgba(255, 182, 16, 0.13);
    padding: 0px 6px;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid rgba(255, 182, 16, 0.31);
    font-size: 11px;
    color: #141d2d;
}
.doc-qualifications {
    color: #141d2d;
    margin-bottom: 5px;
}
.doc-exp-years{

}
.doc-feedback , .doc-feedback i {
    font-size: 22px;
    color: #04ab31;
    margin-right: 4px;
}
.doc-detail-icon {
    margin-right: 5px;
    color: #555555;
    font-size: 18px;
}
.patient_experience_score {
    margin-bottom: 15px;
}
.locality {
    margin-bottom: 5px;
}
.search-doc-container {
    background-image: url(../img/slide_bg.png);
    padding: 30px 15px;
}
.search-doc-inner {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 8px 8px;
    border: 1px solid rgba(255, 255, 255, 0.11);
}
.search-doc-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc-location
{
  flex-basis: 300px;
  margin-right: 5px
}
.doc-keywords
{
  flex: 1;
  margin-right: 5px
}
@media screen and (min-width: 991px)
{
.circle-wrap {
    display: table;
    height: 80px;
}
.dots-line {
    display: inline-block;
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #141d2d;
    margin-top: 12px;
    margin-left: 25px;
}
.circle-filled {
    width: 25px;
    height: 25px;
    background-color: #ffdc8e;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid #ffb610;
}
}
@media screen and (max-width: 991px)
{
  .steps-img img {
      max-width: 80px;
      margin-top: 20px;
  }
.circle-wrap {
    display: table;
    height: 130px;
}
.dots-line {
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #141d2d;
    margin-top: 25px;
    display: inline-block;
    margin-left: 12px;
}
.circle-filled {
  width: 25px;
  height: 25px;
  background-color: #ffdc8e;
    border-radius: 15px;
    display: inline-block;
    border: 7px solid #ffb610;
}
.steps-text {
    line-height: 120px;
    font-size: 15px;
    text-align: left;
}
.steps-text>div {
    line-height: 27px !important;
    display: inline-block;
}
}
@media (max-width:1090px) {
    .product_box {
        width: 33.3%
    }
    .product-img img {
        max-width: 85px;
    }
}
@media (max-width:1045px)
{
  .search-bar
  {
    display: none;
  }

}
@media (max-width:992px) {
    .product-block {
        width: 33.3%;
        flex: auto;
    }
}

@media (max-width:960px) {
    .product-view-inner {
        flex-direction: column;
    }
}

@media (max-width:875px) {
    .product_box {
        width: 50%
    }
    .search-doc-form {
    flex-direction: column;
    align-items: inherit;
}
    .doc-location {
    flex-basis: inherit;
    margin-right: 0px;
    margin-bottom: 10px;
}
.doc-keywords {
flex: 1;
margin-right: 0px;
margin-bottom: 10px;
}
.submit-btn .btn{
  width: 100%

}
}

@media (max-width:450px) {
    .product-block {
        width: 50%;
        flex: auto;
    }
}

@media (max-width:530px) {
    .product_box {
        width: 100%
    }
    .upload-prescription-box {
        width: 100%;
        margin-top: 10px;
    }
    .search-box {
        margin-right: 0px;
        padding-right: 0px;
        border-right: 0px;
    }
    .upload-prescription-box .btn {
        width: 100%;
    }
}

@media (max-width:768px) {
    .link-btn {
        padding: 4px 3px;
        text-align: left;
    }
    .link-btn .btn {
        background-color: transparent !important;
    }
}


/*-----------flex css------------------*/

.flex-element {
    display: flex;
}

.flex-element.pull-right {
    justify-content: flex-end;
}

.flex-element.center {
    justify-content: center;
}

.flex-element.align-vert {
    align-items: center;
}

.flex-element.center-both {
    align-items: center;
    justify-content: center;
}

.flex-element.align-bw {
    justify-content: space-between;
}

.flex-element.wrap {
    flex-wrap: wrap;
}

.flex-element.column {
    flex-direction: column;
}

.flex-grow {
    flex: 1;
}


/*-----------flex css------------------*/


/*margin css*/

.mar-r10 {
    margin-right: 10px;
}

.mar-b0 {
    margin-bottom: 0px;
}

.mar-b10 {
    margin-bottom: 10px;
}

.mar-b15 {
    margin-bottom: 15px;
}

.mar-b20 {
    margin-bottom: 20px;
}

.mar-b25 {
    margin-bottom: 25px;
}

.mar-b30 {
    margin-bottom: 30px;
}

.mar-t10 {
    margin-top: 10px;
}

.mar-t15 {
    margin-top: 15px;
}

.mar-t20 {
    margin-top: 20px;
}

.mar-t25 {
    margin-top: 25px;
}

.mar-t30 {
    margin-top: 30px;
}
